:root {
  --behind: -1;
  --default: 0;
  --image-overlay: 1;
  --z-index-3: 3;
  --header: 5;
  --header-menu-overlay: 6;
  --popup: 8;
  --loader: 100;
  --header-overlay: 1000;
  --over-the-top: 9999;
  --top-overlay: 10000;
}
